body{
    background-color: #000000;
    text-align: center;
}

p{
    color: white;
}

form{
    padding: 1px;
    border: 1px;
    text-align: center;
    color: white;
}

video{
   
}